.barGraph__container {
  background-color: #fbfbfb;
  border-radius: 5px;
  height: 320px;
  position: relative;
  width: 100%;
  /* height: clamp(52%, 320px, 320px); */
}

.barGraph__title {
  color: #20253a;
  font-size: 15px;
  font-weight: 500;
  left: 24px;
  position: absolute;
  top: 14px;
  z-index: 2;
}

.tooltip {
  background-color: #e60000;
  border: 1px solid #ccc;
  padding: 10px;
  width: 39px;
  height: 63px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.tooltip__text {
  color: #fff;
  font-size: 7px;
  font-weight: 500;
}

.recharts-legend-item-text {
  font-size: 14px;
  font-weight: 500;
}

.recharts-cartesian-axis-tick {
  color: #9b9eac;
  font-size: 14px;
  font-weight: 500;
}
